<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXy9Z_qNHABeWnwuvph2V6DZoMcfO6C0c</string>
	<key>GCM_SENDER_ID</key>
	<string>920150322072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mashiur.expenseapp</string>
	<key>PROJECT_ID</key>
	<string>exp-appvd</string>
	<key>STORAGE_BUCKET</key>
	<string>exp-appvd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920150322072:ios:7e1a19d7c1e887c27e99ed</string>
</dict>
</plist>